@import "@fontsource/open-sans/700.css";

.title {
    margin: 0;
    font-family: "Open Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.48px;
    text-align: center;
}
