body {
  width: 300px;
  height: 400px;
  margin: 0px;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexEnd {
  display: flex;
  align-items: flex-end;
}

.fullHeight {
  height: 100%;
}

.fullWidth {
  width: 100%;
}

.textCentered {
  text-align: center;
}

.noMargin {
  margin: 0;
}
