body {
    width: 300px;
    height: 400px;
    margin: 0px;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexEnd {
    display: flex;
    align-items: flex-end;
}

.fullHeight {
    height: 100%;
}

.fullWidth {
    width: 100%;
}

.alignCenter {
    align-items: center;
}

.justifyCenter {
    justify-content: center;
}

.textCentered {
    text-align: center;
}

.noMargin {
    margin: 0;
}

.margin5 {
    margin: 5px;
}

.margin10 {
    margin: 10px;
}

.button {
    width: 100%;
    height: 40px;
    margin-top: 40px;
    padding: 0 40px;
}
