@import "@fontsource/open-sans/400.css";

.subtitle {
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 155%;
}
