.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 280px;
    height: 55px;
    border-radius: 5px;
    background: #3d3a3a;
    flex-shrink: 0;
    color: #fff;
    padding: 10px;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 5px;
}

.text {
    line-height: 1.1;
}
